
.grid-cover{
    margin-top: 70px;
    width: 100vw;
    display: flex;

}
.grid-container{
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-areas: 'c1 c1 c1'
                          'c2 c2 c2'
                          'c3 c3 c3';
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-row-gap: 70px;
    grid-column-gap: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
       .grid-container{
        
    grid-template-areas: 'c1'
                          'c2'
                          'c3';
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
       .grid-container{
        
    grid-template-areas: 'c1 c1'
                          'c2 c2'
                          'c3 c3';
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
       .grid-container{
        
    grid-template-areas: 'c1 c1 c1'
                          'c2 c2 c2'
                          'c3 c3 c3';
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
       .grid-container{
        
    grid-template-areas: 'c1 c1 c1'
                          'c2 c2 c2'
                          'c3 c3 c3';
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .grid-container{
        
    grid-template-areas: 'c1 c1 c1'
                          'c2 c2 c2'
                          'c3 c3 c3';
    }
}

.grid-items{
    height: 160px;
    width: 210px;


    background-size: 100% 100%;
  
}
.grid-items:nth-child(odd){
    background: lightgreen;

}

.grid-items:nth-child(even){
    background: darkgreen;

}











